<!DOCTYPE html>
<!--
This is Template is For
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="utf-8" />
		<title>Vitamin and Mineral Deficiency Early Detector</title>
		<meta name="description" content="Latest updates and statistic charts">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--begin::Fonts -->
<!--		<script th:src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>-->
		<style>
			body{
				font-size: 10%;
			}
		</style>

		<style layout:fragment="customStyle">
		</style>

		<!--end::Fonts -->

		<!--begin::Page Vendors Styles(used by this page) -->
		<link th:href="@{/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css}" rel="stylesheet" type="text/css" />

		<!--end::Page Vendors Styles -->

		<!--begin:: Global Mandatory Vendors -->
		<link th:href="@{/assets/vendors/general/perfect-scrollbar/css/perfect-scrollbar.css}" rel="stylesheet" type="text/css" />

		<!--end:: Global Mandatory Vendors -->

		<!--begin:: Global Optional Vendors -->
		<link th:href="@{/assets/vendors/general/tether/dist/css/tether.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/bootstrap-timepicker/css/bootstrap-timepicker.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/bootstrap-select/dist/css/bootstrap-select.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/select2/dist/css/select2.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/ion-rangeslider/css/ion.rangeSlider.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/nouislider/distribute/nouislider.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/owl.carousel/dist/assets/owl.carousel.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/owl.carousel/dist/assets/owl.theme.default.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/dropzone/dist/dropzone.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/summernote/dist/summernote.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/bootstrap-markdown/css/bootstrap-markdown.min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/animate.css/animate.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/toastr/build/toastr.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/morris.js/morris.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/sweetalert2/dist/sweetalert2.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/general/socicon/css/socicon.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/custom/vendors/line-awesome/css/line-awesome.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/custom/vendors/flaticon/flaticon.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/custom/vendors/flaticon2/flaticon.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/vendors/custom/vendors/fontawesome5/css/all.min.css}" rel="stylesheet" type="text/css" />

		<!--end:: Global Optional Vendors -->

		<!--begin::Global Theme Styles(used by all pages) -->
		<link th:href="@{/assets/demo/demo9/base/style.bundle.css}" rel="stylesheet" type="text/css" />

		<!--end::Global Theme Styles -->

		<!--begin::Layout Skins(used by all pages) -->

		<!--end::Layout Skins -->
		<link rel="shortcut icon" th:href="@{assets/media/logos/favicon.ico}" />
	</head>

	<body class="kt-page--fixed kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed
	kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--left kt-aside--fixed kt-page--loading">
	<div th:style="'z-index:-2; position: fixed; margin-top: -40px; width: 99.5vw; height: 100vh; background: url(/assets/vitamins/page-bg.jpg) no-repeat center; background-size: cover;'">

	</div>
		<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
			<div class="kt-header-mobile__logo">
				<a href="layout.html">
					<img alt="Logo" th:src="@{/assets/ukrida.png}" style="width: 55px; height: auto;" />
				</a>
			</div>
			<div class="kt-header-mobile__toolbar">
				<button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
				<button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more-1"></i></button>
			</div>
		</div>

		<!-- end:: Header Mobile -->
		<div class="kt-grid kt-grid--hor kt-grid--root">
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

					<!-- begin:: Header -->
					<div id="kt_header" class="kt-header  kt-header--fixed " data-ktheader-minimize="on"
						 style="background: #f5f5f5">
						<div class="kt-container kt-container--fluid">

							<!-- begin: Header Menu -->
							<button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
							<div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid"  id="kt_header_menu_wrapper">
								<div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
									<ul class="kt-menu__nav ">
										<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel">
											<a th:href="@{/infos}" class="kt-menu__link">
												<span class="kt-menu__link-text">Home</span>
											</a>
										</li>
										<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel">
											<a th:href="@{/admin/performance}" class="kt-menu__link">
												<span class="kt-menu__link-text">Experts</span>
											</a>
										</li>
										<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel">
											<a th:href="@{/questions}" class="kt-menu__link">
												<span class="kt-menu__link-text">Check Health</span>
											</a>
										</li>
										<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel">
											<a th:href="@{/about}" class="kt-menu__link">
												<span class="kt-menu__link-text">About</span>
											</a>
										</li>
									</ul>
								</div>
							</div>

							<!-- end: Header Menu -->

							<!-- begin:: Brand -->
							<div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
								<a class="kt-header__brand-logo" href="layout.html">
									<img style="width: 55px; height: auto;" alt="Logo" th:src="@{/assets/ukrida.png}" />
								</a>
							</div>

							<!-- end:: Brand -->

							<!-- begin:: Header Topbar -->
							<div class="kt-header__topbar kt-grid__item">
								<div th:if="${isAuth}" th:remove="tag">
									<div class="kt-header__topbar-item kt-header__topbar-item--user mt-1">
										<div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
											<span class="kt-header__topbar-welcome kt-visible-desktop">Hi,</span>
											<span class="kt-header__topbar-username kt-visible-desktop">
												<span th:text="${isAuth}"></span>
											</span>
											<div class="d-flex text-center" style="width: 55px; height: 55px;">
												<div class="m-auto font-weight-bold">
													<div style="width: 40px; height: 40px;" class="text-light kt-bg-brand rounded-circle d-flex">
														<span class="m-auto" th:text="${#strings.substring(isAuth,0,1)}"></span>
													</div>
												</div>
											</div>

											<!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
											<span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden">S</span>
										</div>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

											<!--begin: Head -->
											<div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
												<div class="kt-user-card__avatar">
													<div class="kt-hidden-" alt="Pic" src="" >
														<div style="width: 40px; height: 40px;" class="text-light kt-bg-brand rounded-circle d-flex">
															<span class="m-auto" th:text="${#strings.substring(isAuth,0,1)}"></span>
														</div>
													</div>

													<!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
													<span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden">S</span>
												</div>
												<div class="kt-user-card__name" th:text="${isAuth}">

												</div>
											</div>

											<!--end: Head-->

											<!--begin: Navigation -->
											<div class="kt-notification">
												<a th:href="@{/infos/history}" class="kt-notification__item">
													<div class="kt-notification__item-icon">
														<i class="flaticon2-hourglass kt-font-brand"></i>
													</div>
													<div class="kt-notification__item-details">
														<div class="kt-notification__item-title kt-font-bold">
															My History
														</div>
														<div class="kt-notification__item-time">
															latest health check in this website
														</div>
													</div>
												</a>
												<div class="kt-notification__custom">
													<a th:href="@{/logout}" target="_blank" class="btn btn-label-brand btn-sm btn-bold">Sign Out</a>
												</div>
											</div>

											<!--end: Navigation -->
										</div>
									</div>
								</div>


								<!--end: User bar -->
							</div>

							<!-- end:: Header Topbar -->
						</div>
					</div>

					<!-- end:: Header -->
					<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
						<div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
							<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

								<!-- begin:: Subheader -->
                                <div layout:fragment="breadcrumb">

                                </div>

								<div class="">

									<!--Begin::Dashboard 1-->

									<!--Begin::Section-->
<!--                                    <div class="kt-portlet kt-portlet&#45;&#45;height-fluid">-->
<!--                                        <div class="kt-portlet__body">-->
<!--                                            &lt;!&ndash;Fragment Body&ndash;&gt;-->
<!--                                            -->
<!--                                            &lt;!&ndash;End::Timeline 3 &ndash;&gt;-->
<!--                                        </div>-->
<!--                                    </div>-->
									<div layout:fragment="content">

									</div>
								</div>

								<!-- end:: Content -->
							</div>
						</div>
					</div>

					<!-- begin:: Footer -->
					<div class="kt-footer kt-grid__item" id="kt_footer">
						<div class="kt-container">
							<div class="kt-footer__bottom">
								<div class="kt-footer__copyright">
									Content By Richardo. Theme by <a href="http://keenthemes.com/metronic" target="_blank" class="kt-link">Keenthemes</a>&nbsp;&copy;&nbsp;2019
								</div>
							</div>
						</div>
					</div>

					<!-- end:: Footer -->
				</div>
			</div>
		</div>

		<!-- end:: Page -->

		<!-- begin::Scrolltop -->
		<div id="kt_scrolltop" class="kt-scrolltop">
			<i class="fa fa-arrow-up"></i>
		</div>

		<!-- end::Scrolltop -->

		<!-- begin::Global Config(global config for global JS sciprts) -->
		<script>
			var KTAppOptions = {
				"colors": {
					"state": {
						"brand": "#591df1",
						"light": "#ffffff",
						"dark": "#282a3c",
						"primary": "#5867dd",
						"success": "#34bfa3",
						"info": "#36a3f7",
						"warning": "#ffb822",
						"danger": "#fd3995"
					},
					"base": {
						"label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
						"shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
					}
				}
			};
		</script>

		<!-- end::Global Config -->

		<!--begin:: Global Mandatory Vendors -->
		<script th:src="@{/assets/vendors/general/jquery/dist/jquery.js}" type="text/javascript"></script>


		<script th:src="@{/assets/vendors/general/popper.js/dist/umd/popper.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/bootstrap/dist/js/bootstrap.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/js-cookie/src/js.cookie.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/moment/min/moment.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/tooltip.js/dist/umd/tooltip.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/perfect-scrollbar/dist/perfect-scrollbar.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/sticky-js/dist/sticky.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/wnumb/wNumb.js}" type="text/javascript"></script>

		<!--end:: Global Mandatory Vendors -->

		<!--begin:: Global Optional Vendors -->
		<script th:src="@{/assets/vendors/general/jquery-form/dist/jquery.form.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/block-ui/jquery.blockUI.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/custom/components/vendors/bootstrap-datepicker/init.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/bootstrap-timepicker/js/bootstrap-timepicker.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/custom/components/vendors/bootstrap-timepicker/init.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/bootstrap-daterangepicker/daterangepicker.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/bootstrap-maxlength/src/bootstrap-maxlength.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/custom/vendors/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/bootstrap-select/dist/js/bootstrap-select.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/bootstrap-switch/dist/js/bootstrap-switch.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/custom/components/vendors/bootstrap-switch/init.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/select2/dist/js/select2.full.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/ion-rangeslider/js/ion.rangeSlider.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/typeahead.js/dist/typeahead.bundle.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/handlebars/dist/handlebars.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/inputmask/dist/jquery.inputmask.bundle.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/inputmask/dist/inputmask/inputmask.date.extensions.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/inputmask/dist/inputmask/inputmask.numeric.extensions.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/nouislider/distribute/nouislider.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/owl.carousel/dist/owl.carousel.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/autosize/dist/autosize.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/clipboard/dist/clipboard.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/dropzone/dist/dropzone.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/summernote/dist/summernote.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/markdown/lib/markdown.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/bootstrap-markdown/js/bootstrap-markdown.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/custom/components/vendors/bootstrap-markdown/init.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/bootstrap-notify/bootstrap-notify.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/custom/components/vendors/bootstrap-notify/init.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/jquery-validation/dist/jquery.validate.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/jquery-validation/dist/additional-methods.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/custom/components/vendors/jquery-validation/init.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/toastr/build/toastr.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/raphael/raphael.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/morris.js/morris.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/chart.js/dist/Chart.bundle.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/custom/vendors/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/custom/vendors/jquery-idletimer/idle-timer.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/waypoints/lib/jquery.waypoints.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/counterup/jquery.counterup.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/es6-promise-polyfill/promise.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/sweetalert2/dist/sweetalert2.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/custom/components/vendors/sweetalert2/init.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/jquery.repeater/src/lib.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/jquery.repeater/src/jquery.input.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/jquery.repeater/src/repeater.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/general/dompurify/dist/purify.js}" type="text/javascript"></script>

		<!--end:: Global Optional Vendors -->

		<!--begin::Global Theme Bundle(used by all pages) -->
		<script th:src="@{/assets/demo/demo9/base/scripts.bundle.js}" type="text/javascript"></script>

		<!--end::Global Theme Bundle -->

		<!--begin::Page Vendors(used by this page) -->
		<script th:src="@{/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js}" type="text/javascript"></script>
		<script th:src="@{/assets/vendors/custom/gmaps/gmaps.js}" type="text/javascript"></script>

		<!--end::Page Vendors -->

		<!--begin::Page Scripts(used by this page) -->
		<script th:src="@{/assets/app/custom/general/dashboard.js}" type="text/javascript"></script>

		<!--end::Page Scripts -->

		<!--begin::Global App Bundle(used by all pages) -->
		<script th:src="@{/assets/app/bundle/app.bundle.js}" type="text/javascript"></script>


		<div layout:fragment="scriptSrc"></div>

		<!--end::Global App Bundle -->
	</body>
</html>