<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Check Result - UKRIDA Deficiency Predictor</title>
</head>

<body>

<div layout:fragment="breadcrumb" th:remove="tag">
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                App </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Main </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Sign In </a>
                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
    </div>
</div>

<div layout:fragment="head" th:remove="tag">
    Results
</div>

<div layout:fragment="content" th:remove="tag">
    <div class="bg-gradient-neutral text-center d-flex flex-column" >
        <!--<div th:if="${result != null}">-->

        <!--</div>-->
       <!-- <div th:if="${result == null}">
            Anda tidak mengalami kekurangan vitamin maupun mineral
        </div>-->
        <div class="d-flex" >
            <div class="m-auto">
                <div class="kt-portlet kt-portlet--head--noborder mx-auto" style="width: 450px;">
                    <div class="kt-portlet__head kt-portlet__head--noborder">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Results
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--fluid">
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-column my-auto">
                                <span style="font-size: 20px;">
                                    Berdasarkan hasil kalkulasi maka diperkirakan bahwa anda kemungkinan mengalami kekurangan
                                </span>
                                <h1 style="font-size: 24px;">
                                    <span th:text="${#strings.length(result) <= 3 ? 'vitamin ' : 'mineral ' + result}" th:remove="tag"></span>
                                </h1>
                                <div class="rounded d-flex flex-column bg-warning p-4">
                                    <div style="font-size: 20px;">Mau lihat info mengenai <span  th:text="${#strings.length(result) <= 3 ? 'vitamin ' : 'mineral ' + result}"/> </div>
                                    <div>
                                        <a class="btn btn-success" th:href="@{/infos/__${vitId}__}">Lihat Info</a>
                                    </div>
                                </div>

                                <div class="rounded d-flex flex-column bg-info p-4 mt-3 text-light">
                                    <span style="font-size: 20px;">
                                        Masih belum yakin akan hasil test?
                                    </span>
                                    <div>
                                        <a class="btn btn-success" th:href="@{/questions/}">Check Ulang</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>