<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout.html}">

<head>
    <title>History</title>
</head>

<body>

<div layout:fragment="breadcrumb" th:remove="tag">
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                App </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Main </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    History
                </a>
                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
    </div>
</div>

<div layout:fragment="head" th:remove="tag">

</div>

<div layout:fragment="content" th:remove="tag">
    <div class="card shadow container">
        <div class="card-header bg-transparent">
            <div class="row align-items-center">
                <div class="col">
                    <h6 class="text-uppercase text-muted ls-1 mb-1">Riwayat Kamu</h6>
                </div>
            </div>
        </div>
        <div class="card-body d-flex flex-column container" id="area" style="font-size: 15px;">
            <div class="container mx-auto d-flex">
                <table class="mx-auto table-bordered" style="font-size: 24px;">
                    <tr>
                        <th class="p-4 thead-dark">Date</th>
                        <th class="p-4 thead-dark">Result</th>
                        <th class="p-4 thead-dark">Action</th>
                    </tr>
                    <tr th:each="index : ${#numbers.sequence( 0, #arrays.length(historyDates)-1)}">
                        <td class="p-4 text-dark">
                            <span th:text="${historyDates[index]}" th:remove="tag"></span>
                        </td>
                        <td class="p-4 text-dark">
                            <span th:text="${historyResults[index]}" th:remove="tag"></span>
                        </td>
                        <td class="p-4">
                            <button class="btn btn-brand" th:id="${index}" onclick="showModal('modal'+this.id)">View More</button>
                        </td>
                    </tr>
                </table>
                <div th:each="index : ${#numbers.sequence( 0, #arrays.length(historyDates)-1)}">
                    <div class="modal fade bs-modal-lg" th:id="${'modal'+index}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" >Your Symptomps that Suffered</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <ul style="font-size: 24px;" th:each="symtomp : ${historySymptomps[index]}">
                                        <li th:text="${symtomp}"></li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div layout:fragment="scriptSrc" th:remove="tag">
    <script>
        function showModal(id){
            console.log("clicked")
            $("#"+id).modal('show');
        }
    </script>
</div>
</body>

</html>