<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>Info</title>

</head>

<body>

<div layout:fragment="breadcrumb" th:remove="tag">
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Deficiency </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link" style="color: black;">
                    Home </a>
                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
    </div>
</div>

<div layout:fragment="head" th:remove="tag">
    Infos
</div>

<div layout:fragment="content" th:remove="tag">
    <div class="d-flex flex-column">
        <div class="d-flex flex-column">
            <div class="d-flex flex-column p-2 mx-auto" style="max-width: 700px;">
                <div class="rounded text-dark p-2" style="background: #f5f5f5">
                    <h1 class="text-center mt-2" th:text="${'Apa itu vitamin dan Mineral?'}"></h1>
                    <div class="d-flex flex-column">
                        <img class="text-center mx-auto" th:src="@{/assets/vitamins/home-main-cover.jpeg}" src="../static/images/fruits-jumbotron.jpg" style="width: 320px; height: auto;">
                    </div>
                    <p style="font-size: 15px;" class="p-4 text-justify text-dark" th:text="${'Vitamin dan mineral merupakan nutrisi yang masuk kedalam golongan mikronutrien.
                    Vitamin dan mineral dibutuhkan dalam jumah yang sedikit didalam tubuh manusia sebab tidak dapat
                    disintesis di dalam tubuh. Meski dibutuhkan dalam jumlah yang sedikit, namun jika kadar yang
                    didalam tubuh kurang maka akan menyebabkan terjadinya Deficiency. Keadaan ini terjadi dengan munculnya
                    sejumlah gejala-gejala. Oleh karena itu jika anda mengalami kondisi yang tidak bugar segera cek
                    kesehatan anda melalui website ini. Apalagi jika anda kurang makan buah dan sayur, sebaiknya
                    anda mulailah makan buah dan sayur. Sebab buah dan sayur merupakan sumber dari vitamin dan mineral.'}">
                    </p>
                </div>
                <div class="mt-3 rounded p-2" style="background: #f5f5f5" >
                    <h1 class="text-center" th:text="${'Apa Pentingnya Vitamin dan Mineral Untuk Tubuh Manusia?'}"></h1>
                    <p style="font-size: 15px;" class="p-4 text-dark" th:text="${'Vitamin dan mineral penting untuk menghasilkan produksi energi, sistem kekebalan,
                    pembekuan darah dan fungsi lainnya. Selain itu mineral beperan penting untuk pertumbuhan, kesehatan tulang,
                    keseimbangan cairan dan beberapa proses lainnya.'}">
                    </p>
                </div>
                <div class="mt-3 rounded p-2" style="background: #f5f5f5">
                    <div class="d-flex flex-row flex-wrap" >
                        <div class="card bg-primary text-light p-2 mb-3 mx-auto d-flex flex-column" style="width: 18rem;">
                            <img class="card-img-top mx-auto" style="width: 180px; height: auto;" th:src="@{/assets/vitamins/vit-a.jpg}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vitamin A</h5>
                                <p class="card-text">Mau tau </p>
                                <a th:href="@{/infos/5}" class="btn btn-light">See More</a>
                            </div>
                        </div>
                        <div class="card bg-danger text-light p-2 mb-3 mx-auto d-flex flex-column" style="width: 18rem;">
                            <img class="card-img-top mx-auto" style="width: 180px; height: auto;" th:src="@{/assets/vitamins/vit-b1.jpeg}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vitamin B1</h5>
                                <p class="card-text">Salah satu manfaatnya adalah menjaga kesehatan mata</p>
                                <a th:href="@{/infos/6}" class="btn btn-light">See More</a>
                            </div>
                        </div>
                        <div class="card bg-warning text-light p-2 mb-3 mx-auto d-flex flex-column" style="width: 18rem;">
                            <img class="card-img-top mx-auto" style="width: 180px; height: auto;" th:src="@{/assets/vitamins/vit-b2.jpg}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vitamin B2</h5>
                                <p class="card-text">Salah satu manfaatnya adalah menjaga kesehatan mata</p>
                                <a th:href="@{/infos/7}"class="btn btn-light">See More</a>
                            </div>
                        </div>
                        <div class="card bg-success text-light p-2 mb-3 mx-auto d-flex flex-column" style="width: 18rem;">
                            <img class="card-img-top mx-auto" style="width: 180px; height: auto;" th:src="@{/assets/vitamins/vit-b3.jpeg}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vitamin B3</h5>
                                <p class="card-text">Salah satu manfaatnya adalah menjaga kesehatan mata</p>
                                <a th:href="@{/infos/8}" class="btn btn-light">See More</a>
                            </div>
                        </div>

                        <div class="card bg-primary text-light p-2 mb-3 mx-auto d-flex flex-column" style="width: 18rem;">
                            <img class="card-img-top mx-auto" style="width: 180px; height: auto;" th:src="@{/assets/vitamins/vit-b5.jpg}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vitamin B5</h5>
                                <p class="card-text">Salah satu manfaatnya adalah menjaga kesehatan mata</p>
                                <a th:href="@{/infos/9}" class="btn btn-light">See More</a>
                            </div>
                        </div>
                        <div class="card bg-danger text-light p-2 mb-3 mx-auto d-flex flex-column" style="width: 18rem;">
                            <img class="card-img-top mx-auto" style="width: 180px; height: auto;" th:src="@{/assets/vitamins/vit-b6.jpg}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vitamin B6</h5>
                                <p class="card-text">Salah satu manfaatnya adalah menjaga kesehatan mata</p>
                                <a th:href="@{/infos/10}" class="btn btn-light">See More</a>
                            </div>
                        </div>
                        <div class="card bg-warning text-light p-2 mb-3 mx-auto d-flex flex-column" style="width: 18rem;">
                            <img class="card-img-top mx-auto" style="width: 180px; height: auto;" th:src="@{/assets/vitamins/vit-b7.jfif}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vitamin B7</h5>
                                <p class="card-text">Salah satu manfaatnya adalah menjaga kesehatan mata</p>
                                <a th:href="@{/infos/11}" class="btn btn-light">See More</a>
                            </div>
                        </div>
                        <div class="card bg-success text-light p-2 mb-3 mx-auto d-flex flex-column" style="width: 18rem;">
                            <img class="card-img-top mx-auto" style="width: 180px; height: auto;" th:src="@{/assets/vitamins/vit-b9.jpg}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vitamin B9</h5>
                                <p class="card-text">Salah satu manfaatnya adalah menjaga kesehatan mata</p>
                                <a th:href="@{/infos/12}" class="btn btn-light">See More</a>
                            </div>
                        </div>

                        <div class="card bg-primary text-light p-2 mb-3 mx-auto d-flex flex-column" style="width: 18rem;">
                            <img class="card-img-top mx-auto" style="width: 180px; height: auto;" th:src="@{/assets/vitamins/vit-b12.jpg}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vitamin B12</h5>
                                <p class="card-text">Salah satu manfaatnya adalah menjaga kesehatan mata</p>
                                <a th:href="@{/infos/13}" class="btn btn-light">See More</a>
                            </div>
                        </div>
                        <div class="card bg-danger text-light p-2 mb-3 mx-auto d-flex flex-column" style="width: 18rem;">
                            <img class="card-img-top mx-auto" style="width: 180px; height: auto;" th:src="@{/assets/vitamins/vit-c.jpg}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vitamin C</h5>
                                <p class="card-text">Salah satu manfaatnya adalah menjaga kesehatan mata</p>
                                <a th:href="@{/infos/14}" class="btn btn-light">See More</a>
                            </div>
                        </div>
                        <div class="card bg-warning text-light p-2 mb-3 mx-auto d-flex flex-column" style="width: 18rem;">
                            <img class="card-img-top mx-auto" style="width: 180px; height: auto;" th:src="@{/assets/vitamins/vit-d.jpg}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vitamin D</h5>
                                <p class="card-text">Salah satu manfaatnya adalah menjaga kesehatan mata</p>
                                <a th:href="@{/infos/15}" class="btn btn-light">See More</a>
                            </div>
                        </div>
                        <div class="card bg-success text-light p-2 mb-3 mx-auto d-flex flex-column" style="width: 18rem;">
                            <img class="card-img-top mx-auto" style="width: 180px; height: auto;" th:src="@{/assets/vitamins/vit-e.webp}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vitamin E</h5>
                                <p class="card-text">Salah satu manfaatnya adalah menjaga kesehatan mata</p>
                                <a th:href="@{/infos/16}" class="btn btn-light">See More</a>
                            </div>
                        </div>
                        <div class="card bg-primary text-light p-2 mb-3 mx-auto d-flex flex-column" style="width: 18rem;">
                            <img class="card-img-top mx-auto" style="width: 180px; height: auto;" th:src="@{/assets/vitamins/vit-k.jpg}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vitamin K</h5>
                                <p class="card-text">Salah satu manfaatnya adalah menjaga kesehatan mata</p>
                                <a th:href="@{/infos/17}" class="btn btn-light">See More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="scriptSrc" th:remove="tag">
    <script type="text/javascript">
        var c = document.getElementById("canvas");
        ctx = c.getContext("2d");
        width = c.width = 700;
        height = c.height = 700;


        function randomColor(){
            var listColors = ["#FF8A80", "#F06292", "#C51162", "#AB47BC",
                "#9FA8DA", "#26A69A", "#81C784", "#AFB42B"];
            var randColor = Math.floor(Math.random() * listColors.length);
            return listColors[randColor];
        }

        function drawCircle(x, y, radius){
            ctx.fillStyle = randomColor();
            ctx.beginPath();
            ctx.arc(x, y, radius, 0, 2 * Math.PI);
            ctx.fill();
        }

        c.onclick = function(e){
            console.log("This canvas is clikcked");
            var mouseX = e.clientX - c.offsetLeft - width/2;
            var mouseY = e.clientY - c.offsetTop + height/2;
            console.log("Mouse Position "+mouseX+" ,"+mouseY);
        }

        function updateCanvas(){
            //x(t) = r cos(t) + j       y(t) = r sin(t) + k
            ctx.save();
            ctx.translate(width/2, height/2);
            var x = 0, y = 0;
            ctx.beginPath();

            for(let i = 0; i < 360; i+=(360/17)){
                x = Math.cos(i*Math.PI/180)* (width/2.5);
                y = Math.sin(i*Math.PI/180)* (width/2.5);
                drawCircle(x, y, 40);
            }
            ctx.stroke();
            ctx.restore();
        }
        updateCanvas();

        function handleOnClick(e){

        }
    </script>
</div>

</body>
</html>