<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>Info Mengenai Vitamin</title>
    <style>
        .front-foreground{
            z-index: 0;
        }
        .back-foreground{
            z-index:-1;
        }
        .too-front-background{
            z-index:1;
        }
    </style>
</head>

<body>

<div layout:fragment="breadcrumb" th:remove="tag">
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                App </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Main </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Sign In </a>
                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
    </div>
</div>

<div layout:fragment="head" th:remove="tag">
    More Infos
</div>

<div layout:fragment="content">
    <div class="col-xl-6 col-lg-8 order-lg-2 order-xl-1 m-auto">
        <!--begin:: Widgets/Blog-->
        <div class="kt-portlet kt-portlet--height-fluid kt-widget19">
            <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--unfill">
                <div class="kt-widget19__pic kt-portlet-fit--top kt-portlet-fit--sides d-flex flex-column" th:style="'min-height: 300px; background-image: url(/assets/vitamins/details-page.png)'">
                    <img class="mx-auto mt-3 img-fluid shadow-sm rounded" style="width: auto; height: 180px;" th:src="@{/assets/vitamins/__${imgSrc}__}"/>
                    <h3 class="kt-widget19__title kt-font-light">
                        What is Benefit and Sources of <span th:text="${#strings.length(micronutrient) <= 3 ? 'vitamin' : 'mineral' + micronutrient}"></span>
                    </h3>
                    <div class="kt-widget19__shadow"></div>

                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-widget19__wrapper">
                    <div class="kt-widget19__content">
                        <div class="kt-widget19__userpic">
                            <img src="/metronic/themes/metronic/theme/default/demo5/dist/assets/media/users/user1.jpg" alt="">
                        </div>
                        <div class="kt-widget19__info">
                            <a href="#" class="kt-widget19__username">
                                Admin
                            </a>
                            <span class="kt-widget19__time">Sources from Internet</span>
                        </div>
                        <div class="kt-widget19__stats mx-2">
                            <span class="kt-widget19__number kt-font-brand" th:text="${#lists.size(sources)}"></span>
                            <a href="#" class="kt-widget19__comment">
                                Sources
                            </a>
                        </div>
                        <div class="kt-widget19__stats">
                            <span class="kt-widget19__number kt-font-brand" th:text="${#lists.size(benefits)}"></span>
                            <a href="#" class="kt-widget19__comment">
                                Benefits
                            </a>
                        </div>
                    </div>
                    <div class="kt-widget19__content d-flex flex-column">
                        <ul class="too-front-background mx-auto nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                                    Benefits
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                    Sources
                                </a>
                            </li>
                        </ul>
                        <div class="white-material-background mt-1">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="kt-portlet__body text-light">
                                        <div class="kt-notification-v2">
                                            <div th:each="benefit : ${benefits}">
                                                <a href="#" class="kt-notification-v2__item">
                                                    <div class="kt-notification-v2__item-icon">
                                                        <i class="flaticon2-shield kt-font-success"></i>
                                                    </div>
                                                    <div class="kt-notification-v2__itek-wrapper">
                                                        <div class="kt-notification-v2__item-title" th:text="${benefit}"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <div class="kt-portlet__body text-light">
                                        <div class="kt-notification-v2">
                                            <div class="d-flex flex-row flex-wrap" style="max-width: 420px;">
                                                <div th:each="source : ${sources}">
                                                    <a href="#" class="kt-notification-v2__item">
                                                        <div class="kt-notification-v2__item-icon">
                                                            <i class="flaticon-star kt-font-success"></i>
                                                        </div>
                                                        <div class="kt-notification-v2__itek-wrapper">
                                                            <div class="kt-notification-v2__item-title" th:text="${source}"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end:: Widgets/Blog-->
    </div>
</div>

</body>
</html>