<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/material.css" th:href="@{/css/material.css}">
    <link rel="stylesheet" href="../static/css/my.css" th:href="@{/css/my.css}">
    <link rel="stylesheet" href="../../static/css/all.css"
          th:href="@{/css/all.css}">
    <title>Performance</title>
</head>
<body>
<div class="text-center bg-light rounded">
    <form th:action="@{/save/parameter}" method="post">
        <h2>Enter New Parameter</h2>
        <div class="row">
            <div class="col-4">Learning rate</div>
            <div class="col-8">
                <input class="form-control" type="text" name="learning-rate">
            </div>
        </div>
        <div class="row">
            <div class="col-4">Window size</div>
            <div class="col-8">
                <input class="form-control" type="text" name="window-size">
            </div>
        </div>
        <div class="row">
            <div class="col-4">Epsilon</div>
            <div class="col-8">
                <input class="form-control" type="text" name="epsilon">
            </div>
        </div>
        <div class ="row">
            <div class="col-4">Number of Iter</div>
            <div class="col-8">
                <input class="form-control" type="text" name="iter">
            </div>
        </div>
        <button class="btn btn-light">Save Value</button>
    </form>
</div>
</body>
</html>