<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!-- begin::Head -->
<head>
    <meta charset="utf-8"/>

    <title>Daftar</title>
    <meta name="description" content="Login page example">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">        <!--end::Fonts -->


    <!--begin::Page Custom Styles(used by this page) -->
    <link th:href="@{assets/demo/demo7/login-1.css}" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles -->

    <!--begin::Global Theme Styles(used by all pages) -->
    <link th:href="@{assets/demo/demo7/plugins.bundle.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{assets/demo/demo7/style.bundle.css}" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->

    <!--begin::Layout Skins(used by all pages) -->
    <!--end::Layout Skins -->

    <!-- Hotjar Tracking Code for keenthemes.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1070954,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37564768-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-37564768-1');
    </script>    </head>
<!-- end::Head -->

<!-- begin::Body -->
<body  class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading"  >


<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
            <!--begin::Aside-->
            <div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside"
                 th:style="'background-image:url(/assets/vitamins/register-bg.jpg)'">
                <div class="kt-grid__item">
                    <a href="#" class="kt-login__logo">
                        <img style="width: 120px; height: auto;" th:src="@{assets/ukrida.png}">
                    </a>
                </div>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver" style="color: black;">
                    <div class="kt-grid__item kt-grid__item--middle">
                        <h3 class="kt-login__title">Daftar Sekarang</h3>
                        <h4 class="kt-login__subtitle">Agar dapat menggunakan aplikasi anda perlu daftar terlebih dahulu</h4>
                    </div>
                </div>
                <div class="kt-grid__item">
                    <div class="kt-login__info">
                        <div class="kt-login__copyright">
                            By Richardo
                        </div>
                    </div>
                </div>
            </div>
            <!--begin::Aside-->

            <!--begin::Content-->
            <div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
                <!--begin::Head-->
                <div class="kt-login__head">
                    <span class="kt-login__signup-label">Sudah Punya Akun?</span>&nbsp;&nbsp;
                    <a th:href="@{/signin}" class="kt-link kt-login__signup-link">Masuk</a>
                </div>
                <!--end::Head-->

                <!--begin::Body-->
                <div class="kt-login__body">

                    <!--begin::Signin-->
                    <div class="kt-login__form">
                        <div class="kt-login__title">
                            <h3>Daftar</h3>
                        </div>

                        <!--begin::Form-->
                        <form class="kt-form"
                              name="f"
                              th:object="${user}"
                              th:action="@{/signup}" method="post"
                              id="kt_login_form">
                            <div class="form-group">
                                <input class="form-control" type="text" th:field="*{username}" placeholder="Username" id="username"
                                       name="username" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" th:field="*{email}"
                                       placeholder="Email" id="email"
                                       name="email" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" th:field="*{weight}"
                                       placeholder="Berat Badan" id="weight"
                                       name="weight" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" th:field="*{height}"
                                       placeholder="Tinggi Badan" id="height"
                                       name="height" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" placeholder="Password" id="password"
                                       name="password" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="gender" name="gender">
                                    <option value="1">Pria</option>
                                    <option value="2">Wanita</option>
                                </select>
                            </div>

                            <!--begin::Action-->
                            <div class="kt-login__actions">
                                <button id="kt_login_signin_submit"
                                        class="btn btn-primary btn-elevate kt-login__btn-primary">
                                    Daftar
                                </button>
                            </div>
                            <!--end::Action-->
                        </form>
                        <!--end::Form-->
                        <!--end::Options-->
                    </div>
                    <!--end::Signin-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Content-->
        </div>
    </div>
</div>

<!-- end:: Page -->


<!-- begin::Global Config(global config for global JS sciprts) -->
<script>
    var KTAppOptions = {"colors":{"state":{"brand":"#22b9ff","light":"#ffffff","dark":"#282a3c","primary":"#5867dd","success":"#34bfa3","info":"#36a3f7","warning":"#ffb822","danger":"#fd3995"},"base":{"label":["#c5cbe3","#a1a8c3","#3d4465","#3e4466"],"shape":["#f0f3ff","#d9dffa","#afb4d4","#646c9a"]}}};
</script>
<!-- end::Global Config -->

<!--begin::Global Theme Bundle(used by all pages) -->
<script src="../../../resources/static/assets/demo/demo7/base/scripts.bundle.js" type="text/javascript"></script>
<!--end::Global Theme Bundle -->


<!--begin::Page Scripts(used by this page) -->
<!--end::Page Scripts -->
</body>
<!-- end::Body -->
</html>
